<script type="text/ng-template" id="myModalContent.html">
	        <div class="modal-header">
	            <h3 class="modal-title"> Add Column </h3>
	        </div>
	        <div class="modal-body">
	            <form class="form-horizontal">
				  <div class="form-group">
				    <label for="CN" class="col-sm-2 control-label">Column Name</label>
				    <div class="col-sm-10">
				      <input type="text" maxlength="15" class="form-control" id="CN" placeholder="Enter Column Name" ng-model="CN">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="CT" class="col-sm-2 control-label">Column Type</label>
				    <div class="col-sm-10">
				      <select id="CT" class="form-control" ng-model="CT" ng-init="CT = 'Number'">
				      	<option value="Number">Number</option>
				      	<option value="String">String</option>
				      	<option value="Date">Date</option>
				      	<option value="Boolean">Boolean</option>
				      	
				      </select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="editable" class="col-sm-2 control-label">Editable</label>
				    <div class="col-sm-10">
				      <select id="editable" class="form-control" ng-model="editable" ng-init="editable = 'Yes'">
				      	<option value="Yes">Yes</option>
				      	<option value="No">No</option>
				      	
				      </select>
				    </div>
				  </div>
				  
				</form>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" ng-click="addColumn()">Add Column</button>
	            <button class="btn btn-warning" ng-click="cancel()">Close With Out Adding</button>
	        </div>
	    </script>