
<div class="offset"></div>
<div class="col-md-2 panel panel-default">
  <div class="row panel-heading"> 
    <h3 class="panel-title"><strong> Refine Results </strong></h3>
  </div>
   <div class="panel-body">
      <div><label><input type="checkbox" name="category-1">  Category 1 </label></div>
      <div><label><input type="checkbox" name="category-2">  Category 2 </label></div>
      <div><label><input type="checkbox" name="category-3">  Category 3 </label></div>
      <div><label><input type="checkbox" name="category-4">  Category 4 </label></div>
      <div><label><input type="checkbox" name="category-5">  Category 5 </label></div>
    </div>
  
  <hr>

  <div class="row panel-heading"> 
    <h3 class="panel-title"><strong> Ratings </strong></h3>
  </div>
  <div class="panel-body">
      <div><label><input type="checkbox" name="FiveStar">  ***** </label></div>
      <div><label><input type="checkbox" name="FourStar">  **** </label></div>
      <div><label><input type="checkbox" name="ThreeStar">  *** </label></div>
      <div><label><input type="checkbox" name="TwoStar">  ** </label></div>
      <div><label><input type="checkbox" name="Star">  * </label></div> 
  </div>

  <hr>

  <div class="row panel-heading"> 
    <h3 class="panel-title"><strong> Price </strong></h3>
  </div>
  <div class="panel-body">
      <div><label><input type="checkbox" name="Free">  Free </label></div>
      <div><label><input type="checkbox" name="Monthly">  Monthly </label></div>
      <div><label><input type="checkbox" name="PayOnce">  Pay Once </label></div>
  </div>
</div>




<div class="col-sm-10">
  <div class="header">
    <h1><strong> {{appDescription}} </strong></h1>
    <h3> {{rating}} </h3>
    <h2> {{author}} </h2>
  </div>

  <div class="body-description">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </p>
  </div>

  <strong><hr></strong>

  <div class="col-sm-12">
    <nav class="col-sm-3 pull-left">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> 

    <p class="col-sm-3 pull-right"> Sort by: 
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Dropdown
        <span class="caret"></span>
      </button>
      <span class="glyphicon glyphicon-th"></span>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>      
    </p>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="images/yeoman.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>




  <!--<h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>-->
</div>
</div>
